<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="iDempiereRest">
 <Appenders>
    <RollingFile name="RollingFile" fileName="log/rest/Rest.log"
                 filePattern="log/rest/$${date:yyyy-MM}/Rest-%d{MM-dd-yyyy}-%i.log.gz">
      <JsonLayout complete="false" compact="false" objectMessageAsJsonObject="true">
      </JsonLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>
